@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

h3{
    color: green;
}

ul{
    border: 1px solid blue;
    padding: 10px;
}

li{
    color: darkblue;
}
/* Classe */
.Paragrafo{
    background-color: #ed4c4c;
    color: rgb(245, 248, 83);
    padding: 5px;
}
/* ID */
#titulo-com-id{
    background-color: green;
    color: #ffffff;
    padding: 10px;
    font-size: 40px;
}
/* Regra de Ordem */
h1{
    border-bottom: 2px solid blue;
}
.class-titulo{
    border-bottom: 3px solid red;
}
#id-titulo{
    border-bottom: 3px solid black;
}

/* Nome das cores */
.color-name{
    color:crimson;
}

/* Cores RGB */
.rgb{
    color: rgb(255, 0, 0);
}
.rgb-misturado{
    color: rgb(199, 21, 47);
}
.rgba{
    color: rgba(100, 99, 45, 0.3);
}
/* Hexadecimal */
.hex{
    color: #55a398;
}
.hex-simplificado{
    color: #a6e;
}
/* HSL */
.hsl{
    color: hsl(100, 20%, 50%)
}

.backgroundcolor{
    background-color: #000;
    color: gold;
}
.bg-2{
    background-color: rgb(100, 50, 33);
    color: #00ffaa;
}
.bg-com-opacidade{
    background-color: red;
    opacity: 0.2;
}
/* Resolvendo o erro da opacidade na cor da letra */
.bg-com-opacidade-2{
    background-color: rgba(90, 100, 40, 0.2);
    color: black;
}
/* Background Image */
.bgimage{
    background-image: url(../img/sp-masp.jpg);
    color: white;
    padding: 10px;
}
/* Centralizar Background Image */
/* Aqui eu estou aplicando regra de estilo
para dois elementos de uma vez */
.bgimg-naocentral, .bgimg-central{
background-image: url(../img/senac-largotreze.jpg);
height: 400px;
width: 400px;
}
.bgimg-central{
    background-position: center;
    background-size: cover;
}
/* Altura e Largura */
.altura-largura{
    height: 500px;
    width: 500px;
    background-color: blueviolet;
}
.altura-largura-nova{
    height: 200px;
    background-color: #999;
}
/* Padding */
.sem-padding{
    background-color: aqua;
    padding: none;
    width: 200px;
    height: 200px;
}
.com-padding{
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    padding: 10px;
}
/* Padding por lados */
.padding-lados{
    background-color: crimson;
    color: #fff;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 5px;
    padding-bottom: 40px;
}
/* Shorthand Padding */
.shorthand-padding{
    background-color: #333;
    padding: 6px 12px 18px 24px;
}
.shorthand-padding-2{
    background-color: #555;
    padding: 10px 20px; /* É o mesmo que padding: 10px 20px 10px 20px */
}
/* Border */
.border{
    border: 5px solid blue;
    padding: 10px;
}
.border-2{
    border: 2px dotted #785;
    padding: 25 px;
}
/* Borda individual por lados */
.borda-esquerda{
    background-color: #111;
    color: #fff;
    padding: 25px;
    border-left: 3px solid yellowgreen;
}
.borda-inferior{
    background-color: #111;
    color: #fff;
    padding: 25px;
    border-bottom: 7px double #548;
}
.borda-direita{
    background-color: cornflowerblue;
    color: pink;
    padding: 10px;
    border-right: 2px dashed pink;
}
.borda-superior{
    background-color: aquamarine;
    color: #808080;
    padding: 10px;
    border-top: 10px dotted red;
}
/* Borda diferente em todos os lados ao mesmo tempo */
.borda-total{
    background-color: black;
    color: white;
    padding: 25px;
    border-top: 5px dotted salmon;
    border-right: 5px solid yellow;
    border-bottom: 5px dashed orange;
    border-left: 5px double rosybrown;
}
/* Borda arredondada */
.paragrafo-arredondado{
    background-color: burlywood;
    color: white;
    padding: 20px;
    border: 5px solid red;
    border-radius: 20px;
}
.paragrafo-arredondado-2{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
/* Margem */
.margem{
    background-color: darkblue;
    color: yellow;
    margin: 10px;
}
.margem-no-topo{
    background-color: dodgerblue;
    padding: 10px;
    margin-top: 70px;
}
.margem-diferenciada{
    background-color: cornflowerblue;
    margin: 7px 10px 9px 30px;
}
/* Alinhamento de texto */
.alinhamento-direita{
    text-align: right;
}
.centralizar-container{
    border: 4px solid salmon;
    width: 200px;
    text-align: center;
}
/* Decoração de Texto */
.underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
}
.overline{
    text-decoration: overline;
    color: chocolate;
}
.remove-underline{
    color: orange;
    text-decoration: none;
}
/* Fontes */
.fonte-serif{
    font-family: serif;
}
.fonte-sans-serif{
    font-family: sans-serif;
}
.fonte-monospace{
    font-family: monospace;
}
.fonte-cursive{
    font-family: cursive;
}
.fonte-fantasy{
    font-family: fantasy;
}
.outra-fonte{
    font-family: Arial, Helvetica, sans-serif;
}
/* O link da fonte importada vai sempre no TOPO do arquivo CSS */
.trazer-fonte{
    font-family: 'Croissant One', cursive;
}
/* Estilo de fonte */
.italica{
    font-style: italic;
}
/* Espessura da fonte */
.bold{
  /*  font-weight: bold;
    Posso usar o item de cima ou uma espessura de 100 a 900*/
    font-weight: 500;
}
/* tamanho da fonte */  
.tamanho-150px{
    font-size: 150px;
}
.xx-small{
    font-size: xx-small;
}