@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    position: relative;
}

body{
    background-color: rgb(247, 246, 229);
    
    
}
nav{
    display: flex;
justify-content: center;
    background-color: rgb(111, 226, 111);
    color: white;
    color: inherit;
    border: 1px solid black;
}
.links{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.cabecalho{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: smaller;

    
}
.menu{
    background-color: rgb(40, 246, 40);
    gap: 70px;
}
a{
    border-radius: 25px;

}
a:visited { 
 text-decoration: none; 
 color: rgb(0, 0, 0); 
}
a:hover {
    background-color: yellow;
    color:blue;
  }

.banner{
    width: 100%;
    height: auto;
}

img{
    justify-content: center;
    align-items: center;
    display: block;
    width: 100%;

}

#banner{
    border-radius: 0;
}

h2{
    color: black;    
}

.maintext, .paragrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

h3{
    margin-left: 20px;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fotos{
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease;
}

.fotos2{
    display: inline-block;
    width: 1170;
    height: 700;
    transition: transform 0.3s ease;
    
}
.fotos:hover {
    transform: scale(1.1);
}
.bunch{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    gap: 20px;
}
img{
    border-radius: 8px;
}
.formcontainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}
.labels {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.rodape{
    display: flex;
    justify-content: center;
    background-color: rgb(9, 10, 10);
    color: #ccc;
    padding: 15px;
}

.canais{
display: flex;
   text-align: center;
   flex-direction: row;
   justify-content: space-around;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px black;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}
