@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playwrite AR';
}
header{
    height: 100px;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #ff73a9;
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
video{
    border-radius: 8px;
    border: 5px solid rgb(255, 103, 235);
    margin-top: 10px;
    margin-bottom: 10px;
}
.texto1{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    height: 300px;
    width: 600px;
    text-align: justify;
    display: flex;
}
.image-grid {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    gap: 50px;
}

.img1 {
    width: 30%;
    text-align: center;

}

.img1 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.img1 p {
    margin-top: 10px;
    font-size: 14px;
    color: #333; /* Ajuste a cor conforme necessário */
}
.encolher{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}
img{
    height: 200px;
    width: 200px;
    border: 4px solid rgb(255, 103, 235);
}
.coluna1{
    width: 190px;
    height: 100px;
}
.banner-left, .banner-right {
    position: fixed; /* Fixa os banners nas laterais da tela */
    top: 0;          /* Alinha os banners ao topo da página */
    width: 330px;    /* Largura dos banners */
    height: 100%;    /* Altura dos banners ocupando toda a altura da tela */
    z-index: 10;     /* Certifica-se de que os banners estão acima de outros elementos */
    background-image: url(../img/cute-pink-dinosaur-sparkling-eyes-37n6vai0pjo4htl8.webp);
}

.banner-left {
    left: 0;
}

.banner-right {
    right: 0;
}
body{
    background-color: rgb(169, 255, 169);
}
#imagem1{
border: 2px solid pink;
}
span{
    color: yellow;
}
@media (max-width: 968px) {
    .banner-left, .banner-right {
        width: 80px;    /* Largura dos banners */
        height: 100%;    /* Altura dos banners ocupando toda a altura da tela */
    }

    .content-container {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }


div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

}